* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #000;
  height: 7rem;
  line-height: 7rem;
  font-family: "Bungee Tint", sans-serif;
  font-size: 80px;
}

.choice {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  transition: 0.5s ease;
}

img:hover {
  box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000,
    5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px);
  transition: 0.5s ease;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3.5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 6rem;
  font-family: "Bungee Inline", sans-serif;
}

#user-score,
#computer-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 4rem;
}

#msg {
  font-family: "Bungee Spice", sans-serif;
  background-color: black;
  font-size: 2rem;
  display: inline;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
}
